@font-face{
font-family:"MaxWeb W03 Bold";
src:url("../fonts/1473505/3b6337cb-ced4-4f27-ba0c-67b550af684c.eot?#iefix");
src:url("../fonts/1473505/3b6337cb-ced4-4f27-ba0c-67b550af684c.eot?#iefix") format("eot"),url("../fonts/1473505/34a13c15-03de-494c-9915-9d50368b62f7.woff2") format("woff2"),url("../fonts/1473505/f35356b4-0a2b-4f0a-940c-04b07d5e57f4.woff") format("woff"),url("../fonts/1473505/aceb04aa-c4a2-4d9e-88ee-1e37db03b0d9.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 BoldItalic";
src:url("../fonts/1473507/be521e3e-53f0-44a6-b96a-48dbb5f11f1b.eot?#iefix");
src:url("../fonts/1473507/be521e3e-53f0-44a6-b96a-48dbb5f11f1b.eot?#iefix") format("eot"),url("../fonts/1473507/3a4bd47b-73a1-4d41-b7d6-e53e4ace8c65.woff2") format("woff2"),url("../fonts/1473507/931360e4-a39a-407f-bd86-9d9ad3bdf772.woff") format("woff"),url("../fonts/1473507/a20c5b49-23e0-4e08-b189-072bc5094fe2.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 Extlight";
src:url("../fonts/1473553/597ac5eb-dd38-4364-8de1-e589bf7f4949.eot?#iefix");
src:url("../fonts/1473553/597ac5eb-dd38-4364-8de1-e589bf7f4949.eot?#iefix") format("eot"),url("../fonts/1473553/5c5c228f-c044-468e-afc1-80a900347091.woff2") format("woff2"),url("../fonts/1473553/b8a65fd3-f1e2-45e2-947d-f9d678e52aaa.woff") format("woff"),url("../fonts/1473553/2ab56e75-d787-4022-9743-8a45cd960c42.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 ExtlightItalic";
src:url("../fonts/1473555/08ea1a58-f0d9-4a08-b4c8-8cd3f64b0561.eot?#iefix");
src:url("../fonts/1473555/08ea1a58-f0d9-4a08-b4c8-8cd3f64b0561.eot?#iefix") format("eot"),url("../fonts/1473555/a5ac070a-246c-4f56-8d14-bbf90d58107a.woff2") format("woff2"),url("../fonts/1473555/1af7231b-f327-4514-97bf-e1b2903edfdb.woff") format("woff"),url("../fonts/1473555/8cb010d0-43fb-4a1c-a1e0-e67a22d1fa70.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 Italic";
src:url("../fonts/1473565/82d8aa2e-b825-416e-b630-a052fb972874.eot?#iefix");
src:url("../fonts/1473565/82d8aa2e-b825-416e-b630-a052fb972874.eot?#iefix") format("eot"),url("../fonts/1473565/b67337eb-22a7-4045-84f3-29fc00f0a75b.woff2") format("woff2"),url("../fonts/1473565/56d69f87-a39a-4b1a-990d-d37cfeaa8551.woff") format("woff"),url("../fonts/1473565/8b487af7-f85a-44bc-a8ca-d4aaa09bb0b9.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 Regular";
src:url("../fonts/1473571/86f1717d-6131-4d33-890c-a13f87614fdd.eot?#iefix");
src:url("../fonts/1473571/86f1717d-6131-4d33-890c-a13f87614fdd.eot?#iefix") format("eot"),url("../fonts/1473571/d7b9b6a1-50cd-4941-b856-413b003f6334.woff2") format("woff2"),url("../fonts/1473571/f601f169-e055-4d08-b6ea-1562e76cb1ed.woff") format("woff"),url("../fonts/1473571/97dcdd6b-7c3f-475d-bad6-f8e32cf0c63e.ttf") format("truetype");
}

body, html {
    font-family: "MaxWeb W03 Regular", sans-serif;
    font-size: 16px;
    color: #FFF;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: none;
    text-rendering: optimizeLegibility !important;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    background: linear-gradient(270deg, #8dc63f, #f7941e);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    -o-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
::selection {
    background: #283B49;
    color: #FFF;
}
::-moz-selection {
    background: #283B49;
    color: #FFF;
}

header {
    width: 100%;
    order: 1;
    flex: 0 0 10vh;
}

.main {
    width: 100%;
    order: 2;
    flex: 1 1 80vh;
}

footer {
    width: 100%;
    order: 3;
    flex: 0 0 10vh;
}
